.img-thumbnail{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 50px;
    margin-left: 80px;
    border:solid;
    border-color:#009688;
    background-image: url("");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 720px) {
    .info{
      margin-left: 500px;
      margin-top: -430px;
    }
  }
  .btn{
      margin-left: 32%;
  }
  .online{
    color:#818181;
  }